/* GLOBAL STYLES
-------------------------------------------------- */
/* Agrega un padding debajo del pie de página y un color de texto más claro */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}

/* Estilos para las imágenes de reemplazo */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* Media query para tamaños de pantalla mayores a 768px */

@media (min-width: 768px) {
  body {
    font-size: 3.5rem;
  }
}

/* Estilos para elementos sin clase o etiqueta específica */

:not(.carousel):not(.carousel-caption):not(.carousel-item):not(.carousel-indicators) {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

/* Estilos para elementos con clase sin selector de tipo */

.flex-shrink-0 {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

/* Estilos para elementos con clase sin selector de tipo */

.vertical-align {
  vertical-align: -0.125em;
  fill: currentColor;
}

/* Estilos para elementos con clase sin selector de tipo */

.relative {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

/* Variables personalizadas */

:root {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

/* Estilos para elementos con clase sin selector de tipo */

.z-index {
  z-index: 1500;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Estilos base del carrusel */

.carousel {
  margin-bottom: 4rem;
}

/* Estilos para las leyendas del carrusel */

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Establece la altura de los elementos del carrusel */

.carousel-item {
  height: 32rem;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Centra el texto en las tres columnas debajo del carrusel */

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Estilos para los párrafos dentro de las columnas */

.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

/* Featurettes
------------------------- */

/* Espacia la línea de separación de las "featurettes" */

.featurette-divider {
  margin: 5rem 0;
}

/* Estilos para los títulos de las "featurettes" */

.featurette-heading {
  letter-spacing: -0.05rem;
}

/* Estilos responsivos */

@media (min-width: 40em) {
  /* Aumenta el tamaño del contenido del carrusel */

  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* Estilos para el botón de retroceso superior */

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.3s ease-in-out; /* Transición de opacidad con duración de 0.3 segundos y curva de aceleración suave */
}

/* Estilos adicionales para botones y modal */

.btn-info {
  /* Estilos personalizados para el botón de información */
}

.modal-content {
  /* Estilos personalizados para el contenido del modal */
}
