/* Estilos globales */
body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: rgb(var(--bs-tertiary-color-rgb));
    background-color: #343a40;
}

/* Estilos para el formulario de contacto */
#contactForm {
    max-width: 500px;
    margin: 100px auto 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.form-label {
    font-weight: bold;
}

.form-control {
    margin-bottom: 10px;
}

.btn-primary {
    width: 100%;
}



